[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DVHmetrics"]
	path = DVHmetrics
	url = https://github.com/dwoll/dvhmetrics
	shallow = true
	registered = true
[submodule "MeshAgreement"]
	path = MeshAgreement
	url = https://github.com/dwoll/meshagreement
	shallow = true
	registered = true
